<app-header></app-header>
<div class="page-wrapper">
  <!-- Bread crumb -->
  <div class="row page-titles" *ngIf="user$">

      
        <div class="col-md-5 align-self-center">
                <h5 class="text-primary">Ticket ID - {{taskid}} <span class="badge {{user$.btnstyle}}">{{user$.ticketstatus}}</span></h5><span style="font-size: 14px;">Created In - {{user$.createDate}}</span> </div>
            <div class="col-md-7 align-self-center">
                    <div class="button-row breadcrumb" >
                           
                            <a mat-raised-button color="accent" routerLink="/editservice/{{taskid}}">Edit</a>
                            
                            <div class="divider"></div>
                            <button class="breadcrumb-item" mat-raised-button color="warn">Cancel</button>
                            
                          </div>
            </div>




      <!--<div class="col-md-5 align-self-center">
  <h5 class="text-primary">Service id #{{taskid}}</h5> </div>-->
      <!--<div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Dashboard</a></li>
              <li class="breadcrumb-item active">#{{taskid}}</li>
          </ol>
      </div>-->
  </div>
  <!-- End Bread crumb -->
  <!-- Container fluid  -->
  <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="row">
          <!-- Column --> 
         
          <!-- Column -->
          <!-- Column -->
          <!--<ul>
                  <li *ngFor="let user of users$">
                    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
                
                    <ul>
                      <li>{{ user.email }}</li>
                      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
                    </ul>
                  </li>
                </ul>-->

          <div class="col-lg-12">
              <div class="card">

              <div>
              <p>Heading </p>

              <p>Content</p>
           

              </div>

              
              
              </div>
          </div>
          </div>
          </div>





