
    <!-- header header  -->
    <div class="header" style="background: #356957;">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <!-- Logo icon -->
                  
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <!-- <span><img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" /></span>-->
                </a>
            </div>
            <b><img style="background: rgba(0, 86, 64, 0.67)" id="rag" width="128px" src="assets/logo.png" alt="homepage" class="dark-logo" /></b>
            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <!-- <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li> -->
                    <!-- Messages -->
                    <!-- <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
                        <div class="dropdown-menu animated zoomIn">
                            <ul class="mega-dropdown-menu row">


                                <li class="col-lg-3  m-b-30">
                                    <h4 class="m-b-20">CONTACT US</h4>
                                     Contact 
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter email"> </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>
                                </li>
                                <li class="col-lg-3 col-xlg-3 m-b-30">
                                    <h4 class="m-b-20">List style</h4>
                                    List style 
                                    <ul class="list-style-none">
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                    </ul>
                                </li>
                                <li class="col-lg-3 col-xlg-3 m-b-30">
                                    <h4 class="m-b-20">List style</h4>
                                    List style 
                                    <ul class="list-style-none">
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                    </ul>
                                </li>
                                <li class="col-lg-3 col-xlg-3 m-b-30">
                                    <h4 class="m-b-20">List style</h4>
                                   List style 
                                    <ul class="list-style-none">
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <!-- End Messages -->
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Search -->
                    <!-- <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                    </li> -->
                    <!-- Comment -->
                   
                    <!-- End Comment -->
                    <!-- Messages -->
                   
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/5.jpg" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a routerLink="/login"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div class="left-sidebar"  >
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">Home</li>
                    <li> <a routerLink="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                       
                    </li>
                    <li class="nav-label">Features</li>
                    <!-- <li (click)="changeviewcustomer()" [ngClass]="status ? 'active' : '' "> <a class="has-arrow"  aria-expanded="false"><i class="fa fa-address-book"></i><span class="hide-menu">Customer</span></a>
                        <ul aria-expanded="false" [ngClass]="status ? 'collapse in' : 'collapse' ">
                            <li ><a routerLink="/createcontact" >Create Contact</a></li>
                            <li><a routerLink="/viewcontact">View Contact</a></li>
                        </ul>
                    </li> -->
                    <li (click)="changeservices()" [ngClass]="serstatus ? 'active' : '' "> <a class="has-arrow"  aria-expanded="false"><i class="fa fa-handshake-o"></i><span class="hide-menu">Services</span></a>
                        <ul aria-expanded="false" [ngClass]="serstatus ? 'collapse in' : 'collapse' ">
                            <li ><a routerLink="/createservice">Create Services</a></li>
                            <li ><a routerLink="/viewservices">View Services</a></li>
                          
                        </ul>
                    </li>
                    <li (click)="changescampign()" [ngClass]="campstatus ? 'active' : '' "> <a class="has-arrow" aria-expanded="false"><i class="fa fa-reply"></i><span class="hide-menu">Campaign</span></a>
                        <!-- <ul [ngClass]="campstatus ? 'collapse in' : 'collapse' " aria-expanded="false" class="">
                           
                            <li ><a routerLink="/viewcampaign">View Campaign</a></li>
                           
                        </ul> -->
                    </li>
                    <li (click)="changescampign()"> <a class="has-arrow" aria-expanded="false"><i class="fa  fa-cc-mastercard"></i><span class="hide-menu">Master</span></a>
                        <ul [ngClass]="campstatus ? 'collapse in' : 'collapse' " aria-expanded="false" class="">
                            <li ><a routerLink="/masterpage">Create Master for call Note</a></li>
                            <!-- <li ><a routerLink="/viewcampaign">View Master</a></li> -->
                        </ul> 
                    </li>
                    <li (click)="changescampign()"> <a class="has-arrow" routerLink="/knowledge" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">knowledge Transfer</span></a>
                        <!-- <ul [ngClass]="campstatus ? 'collapse in' : 'collapse' " aria-expanded="false" class="">
                            <li ><a routerLink="/knowledge">knowledge Transfer</a></li>
                            <li ><a routerLink="/viewcampaign">View Master</a></li> 
                        </ul>  -->
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    
    <!-- End Page wrapper  -->

