<app-header></app-header>
<div class="page-wrapper">
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h5 class="text-primary">View Contacts</h5> </div>
    <div class="col-md-7 align-self-center">
        
    </div>
</div> 

<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
<div class="col-lg-4">
    <div class="card">
        <div class="card-body" style="margin-top: 0px;"  *ngIf="user$">
            <div class="card-two">
               <h4>{{user$.ASSR_NAME}}</h4>
                <!-- <div class="desc">{{user$.email}}</div> -->

                <div class="card-body" style="padding: 0">
                        <div class="table-responsive">
                            <table class="table">
                               
                                <tbody>
                                     
                                    <!-- <tr>
                                        </tr><tr>
                                            <td><b>companyname</b></td>
                                            <td>{{user$.companyname}}</td>
                                            
                                        </tr> -->
                                    
                                    <tr>
                                        </tr><tr>
                                            <td><b>Phone Number</b></td>
                                            <td>{{user$.ASSR_PHONE}}</td>
                                            
                                        </tr>

                                       <!-- <tr>
                                            </tr><tr>
                                                <td><b>Status</b></td>
                                                <td><span class="badge {{user$.btnstyle}}">{{user$.ticketstatus}}</span></td>
                                                
                                            </tr>-->
                                    
                                    
                                    
                                    <tr>
                                        <td><b>DOB</b></td>
                                        <td>{{user$.DOB}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td><b>Office Phone</b></td>
                                        <td>{{user$.ASSR_OFFICE_PHONE}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td><b>Nationality</b></td>
                                        <td>{{user$.NATIONALITY}}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
               <div class="contacts">
                    <a title="Create new Service" href="createservice/{{this.phn$}}"><button mat-button color="primary">Create new Services</button>
                    
                    </a>

                    <!-- <a href=""><i class="fa fa-whatsapp"></i></a>
                    <a href=""><i class="fa fa-envelope"></i></a> -->
                    <div class="clear"></div>
                </div>

                
            </div>
        </div>
    </div>
</div>

<div class="col-lg-8">
    <div class="card">

        <mat-tab-group dynamicHeight *ngIf="user$">
            <mat-tab label="Call Note">
                
                <form class="callnoteform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row" style="margin-top: 7%;margin-left: 5%;">

                                   <div class="col-md-12">
                                    <div class="form-group">
                                                <mat-form-field>
                                                <mat-select formControlName="Calltype"  placeholder="Call Type">
                                                  <mat-option>None</mat-option>
                                                  <mat-option *ngFor="let call_ty of call_type$" value="{{call_ty.typeID}}">{{call_ty.name}}</mat-option>
                                                  
                                                </mat-select>
                                              </mat-form-field>
                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                            <div class="form-group">
                                                    <mat-form-field>
                                                        <mat-select formControlName="Callreason"   placeholder="Call Reason">
                                                          <mat-option>None</mat-option>
                                                          <mat-option *ngFor="let call_reason of call_reason$" value="{{call_reason.typeID}}">{{call_reason.name}}</mat-option>
                                                         
                                                        </mat-select>
                                                      </mat-form-field>
                                            </div>
                                            </div>
                                    <div class="col-md-12">
                                    <div class="form-group">
                                             <mat-form-field class="example-full-width">
                                                <textarea matInput formControlName="comment"  placeholder="Leave a comment"></textarea>
                                              </mat-form-field>
                                    </div>
                                    </div>
                                             <div class="col-md-12">
                                             <div class="form-group">
                                             <button [disabled]="registerForm.pristine || registerForm.invalid" mat-raised-button color="primary">Create</button>
                                             </div></div>

                     </div>
                     </form>
            </mat-tab>
            <mat-tab label="Call History">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                                 <tr>
                                                                                <th>Sl No</th>
                                                                                <th>Call Type</th>
                                                                                <th>Call Reason</th>
                                                                                <th>Called Date</th>
                                                                                <th>Comment</th>
                                                                        </tr>
                                        </thead>
                                        
                                        <tbody> 
                                                                 <tr *ngFor="let call_note of call_note$">
                                                                        <td>{{call_note.slno}}</td>
                                                                        <td>{{call_note.calltype}}</td>
                                                                        <td>{{call_note.callreason}}</td>
                                                                        <td>{{call_note.callNoteTime}}</td>
                                                                        <td>{{call_note.comment}}</td>
                                                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
              </mat-tab>
            

            <mat-tab label="Active Policy Information">
                    <mat-vertical-stepper  #stepper>
                            <mat-step *ngFor="let policy_info of policy_information$">
                                    <ng-template matStepLabel>{{policy_info.POLICY_NUMBER}}</ng-template>

                                    <div class="example-small-box mat-elevation-z4">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                           
                                                            <tbody>
                
                                                                    <tr>
                                                                            <td><b>DIVISION NAME</b></td>
                                                                              <td>{{policy_info.DIVISION_NAME}}</td>
                                                                              
                                                                          </tr>
                                                                          <tr>
                                                                                <td><b>POLICY NUMBER</b></td>
                                                                                  <td>{{policy_info.POLICY_NUMBER}}</td>
                                                                                  
                                                                              </tr>
                                                                 
                                                                    <tr>
                                                                          <td><b>ENDORSEMENT NUMBER</b></td>
                                                                            <td>{{policy_info.ENDORSEMENT_NUMBER}}</td>
                                                                            
                                                                        </tr>
                                                                        <tr>
                                                                            <td><b>INSURED AMOUNT</b></td>
                                                                            <td>{{policy_info.INSURED_AMOUNT}}</td>
                                                                            
                                                                        </tr>
                                                                        <tr>
                                                                            <td><b>POLICY TO DATE</b></td>
                                                                            <td>{{policy_info.POLICY_TO_DATE}}</td>
                                                                            
                                                                        </tr>
                
                                                                        <tr>
                                                                                <td><b>POLICY FROM DATE</b></td>
                                                                                <td>{{policy_info.POLICY_FROM_DATE}}</td>
                                                                                
                                                                        </tr>
                                                                        <tr>
                                                                                <td><b>POLICY APPR DATE</b></td>
                                                                                <td>{{policy_info.POLICY_APPR_DATE}}</td>
                                                                                
                                                                        </tr>
                      
                                                                        <tr>
                                                                                <td><b>CREATED USER</b></td>
                                                                                <td>{{policy_info.CREATED_USER}}</td>
                                                                                
                                                                        </tr>
                                                                        <tr>
                                                                                <td><b>Discount</b></td>
                                                                                <td>{{policy_info.nationality}}</td>
                                                                                
                                                                        </tr>
                                                                        <tr>
                                                                                <td><b>GROSS PREMIUM</b></td>
                                                                                <td>{{policy_info.GROSS_PREMIUM}}</td>
                                                                                
                                                                        </tr>
                        
                                                                        <tr>
                                                                                <td><b>DISCOUNT</b></td>
                                                                                <td>{{policy_info.DISCOUNT}}</td>
                                                                                
                                                                        </tr>
                                                                        
                                                                        <tr>
                                                                                <td><b>COMMISSION</b></td>
                                                                                <td>{{policy_info.COMMISSION}}</td>
                                                                                
                                                                        </tr>

                                                                        <tr>
                                                                                <td><b>NET_PREMIUM</b></td>
                                                                                <td>{{policy_info.NET_PREMIUM}}</td>
                                                                                
                                                                        </tr>
                        
                                                                       
                                                                       
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                   
                                                </div>
                      
                                    </div>

                            </mat-step>
                          </mat-vertical-stepper>
                  </mat-tab>

                  <mat-tab label="Vehicle  Information">
                        <mat-vertical-stepper #stepper>
                                <mat-step *ngFor="let vehicl of vehicle$">
                                        <ng-template matStepLabel>{{vehicl.POLICY_NUMBER}}</ng-template>
    
                                        <div class="example-small-box mat-elevation-z4">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                               
                                                                <tbody>
                    
                                                                        <tr>
                                                                                <td><b>BRAND</b></td>
                                                                                  <td>{{vehicl.BRAND}}</td>
                                                                                  
                                                                              </tr>
                                                                              <tr>
                                                                                    <td><b>MAKE</b></td>
                                                                                      <td>{{vehicl.MAKE}}</td>
                                                                                      
                                                                                  </tr>
                                                                     
                                                                        <tr>
                                                                              <td><b>BODY TYPE</b></td>
                                                                                <td>{{vehicl.BODY_TYPE}}</td>
                                                                                
                                                                            </tr>
                                                                            <tr>
                                                                                <td><b>INSURED AMOUNT</b></td>
                                                                                <td>{{vehicl.INSURED_AMOUNT}}</td>
                                                                                
                                                                            </tr>
                                                                            <tr>
                                                                                <td><b>CHASSIS NO</b></td>
                                                                                <td>{{vehicl.CHASSIS_NO}}</td>
                                                                                
                                                                            </tr>
                    
                                                                            <tr>
                                                                                    <td><b>VS_REGN_NO</b></td>
                                                                                    <td>{{vehicl.VS_REGN_NO}}</td>
                                                                                    
                                                                            </tr>
                                                                            <tr>
                                                                                    <td><b>AGENCY</b></td>
                                                                                    <td>{{vehicl.AGENCY}}</td>
                                                                                    
                                                                            </tr>
                          
                                                                            <tr>
                                                                                    <td><b>VEHICLE_AGE</b></td>
                                                                                    <td>{{vehicl.VEHICLE_AGE}}</td>
                                                                                    
                                                                            </tr>
                                                                            <tr>
                                                                                    <td><b>REGISTRATION LOCATION</b></td>
                                                                                    <td>{{vehicl.REGISTRATION_LOCATION}}</td>
                                                                                    
                                                                            </tr>
                                                        </tbody>
                                                            </table>
                                                        </div>
                                                       
                                                    </div>
                          
                                        </div>
    
                                </mat-step>
                              </mat-vertical-stepper>
                      </mat-tab>
            <mat-tab label="Claim Information">
                            <div class="example-small-box mat-elevation-z4">
                                    
              
                                    <mat-card>
                                            
              
                                            
              
              
                                    </mat-card>
                            </div>
            </mat-tab>


          </mat-tab-group>

    
    </div>
</div>
</div></div>


</div>
