<app-header></app-header>
<div class="page-wrapper">
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h5 class="text-primary">View Contacts</h5> </div>
    <div class="col-md-7 align-self-center">
        
    </div>
</div> 

<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
<div class="col-lg-12">
    <div class="card">
        <div class="card-body" *ngIf="user$">
            <div class="card-two">
                <header>
                    <div class="avatar">
                        <img src="assets/images/Facebook-no.jpg" alt="Allison Walker">
                    </div>
                </header>

                <h3>{{user$.firstname}}</h3>
                <div class="desc">
                        {{user$.email}}
                </div>
                <!--<div class="contacts">
                    <a href=""><i class="fa fa-plus"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                    <a href=""><i class="fa fa-envelope"></i></a>
                    <div class="clear"></div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">

        <mat-tab-group dynamicHeight *ngIf="user$">
            <mat-tab label="User Details">
              <div class="example-small-box mat-elevation-z4">
                      

                      <mat-card>
                              <mat-grid-list cols="2" rowHeight="350px" > 
                                      
                      <mat-grid-tile>
                          <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table">
                                     
                                      <tbody>
                                           
                                          <tr>
                                              </tr><tr>
                                                  <td><b>companyname</b></td>
                                                  <td>{{user$.companyname}}</td>
                                                  
                                              </tr>
                                          
                                          <tr>
                                              </tr><tr>
                                                  <td><b>mobile_number</b></td>
                                                  <td>{{user$.mobile_number}}</td>
                                                  
                                              </tr>

                                             <!-- <tr>
                                                  </tr><tr>
                                                      <td><b>Status</b></td>
                                                      <td><span class="badge {{user$.btnstyle}}">{{user$.ticketstatus}}</span></td>
                                                      
                                                  </tr>-->
                                          
                                          
                                          
                                          <tr>
                                              <td><b>DOB</b></td>
                                              <td>{{user$.DOB}}</td>
                                              
                                          </tr>
                                          <tr>
                                              <td><b>gender</b></td>
                                              <td>{{user$.gender}}</td>
                                              
                                          </tr>
                                          <tr>
                                              <td><b>nationality</b></td>
                                              <td>{{user$.nationality}}</td>
                                              
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                             
                          </div></mat-grid-tile>

                      <mat-grid-tile >
                              <div class="card-body">
                                      <div class="table-responsive">
                                          <table class="table">
                                             
                                              <tbody>
                                                  
                                                  <!--<tr>
                                                      <td><b>Create Date</b></td>
                                                      <td>{{user$.createDate}}</td>
                                                      
                                                  </tr>-->

                                                  <tr>
                                                      <td><b>insurance Amount</b></td>
                                                      <td>{{user$.insurance_amount}}</td>
                                                      
                                                  </tr>
                                                  
                                                 

                                                      <tr>
                                                          </tr><tr>
                                                              <td><b>insurance Card No</b></td>
                                                              <td>{{user$.insurance_card_no}}</td>
                                                              
                                                          </tr>
                                                  
                                                  <tr>
                                                      </tr><tr>
                                                          <td><b>insurance_company</b></td>
                                                          <td>{{user$.insurance_company}}</td>
                                                          
                                                      </tr>
                                                  
                                                  <tr>
                                                      <td><b>home_address</b></td>
                                                      <td>{{user$.home_address}}</td>
                                                      
                                                  </tr>
                                                  <tr>
                                                      <td><b>company_address</b></td>
                                                      <td>{{user$.company_address}}</td>
                                                      
                                                  </tr>
                                                  
                                              </tbody>
                                          </table>
                                      </div>
                                     
                                  </div>
                          
                          
                          </mat-grid-tile> 
                              <!--<mat-list>
                                      
                                  <mat-divider></mat-divider>
                                  
                                </mat-list>-->
                              </mat-grid-list>

                              


                      </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>

    
    </div>
</div>
</div></div>


</div>
