<!-- main app container -->

    
    <!-- credits -->  
    <app-header></app-header>
    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h5 class="text-primary">Create Services</h5> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Create Services</li>
              </ol>
          </div>
      </div>
      <!-- End Bread crumb --> 
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="form-validation">
                          <div class="card-body">
                          
                              <div class="form-body">
                                  <h5 class="box-title m-t-40">Create New Services </h5>
                                  <hr>
                                  <mat-tab-group>
                                        <mat-tab label="Branch Addresses"> 
                                           <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                                <div class="row" style="margin-top: 2%">
                                                        <div class="col-md-6 ">
                                                                <div class="form-group">
                                                                    <label>Office Location</label><span>*</span>
                                                                    <select (change)="onChangeoffice($event.target.value)" name="Reason" formControlName="Reason" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && f.Reason.errors }">
                                                                      <option *ngFor="let loca of location$" value="{{loca.locId}}">{{loca.name}}</option>
                                                                      
                                                                  </select> 
                                                                    <div *ngIf="submitted && f.Reason.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.Reason.errors.required">Reason is required</div>
                                                                    </div>
                                                                </div>
                                                                  </div>
                                                                <div class="col-md-6 ">
                                                                <div class="form-group">
                                                                    <label>Branch</label><span>*</span>
                                                                    <select (change)="onChangeadreess($event.target.value)" name="Reason" formControlName="Reason" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && f.Reason.errors }">
                                                                        <option *ngFor="let bran of branch$" value="{{bran.branId}}">{{bran.name}}</option>
                                                                  </select>
                                                                    <div *ngIf="submitted && f.Reason.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.Reason.errors.required">Reason is required</div>
                                                                    </div>
                                                                </div>
                                                                  </div>

                                                                  <div class="col-md-6 ">
                                                                        <div class="form-group">
                                                                            <label>Mobile Number</label><span>*</span>
                                                                            <input type="text" name="firstname"  class="form-control"  />
                
                                                                        </div>
                                                                   </div>

                                                                   <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Address : </label>
                                                                            <div *ngFor="let branadd of branchaddress$" >
                                                                            <input type="checkbox" ><p>{{branadd.name}}</p>
                                                                            </div>
                                                                        </div>
                                                                          </div>
                                                                  
                                                         
                                                               
                                                                <div class="col-md-6 "></div>
                                                                <div class="col-md-6 "></div>
                                                                <div class="col-md-6 ">
                                                                <div class="form-actions">
                                                                    <button [disabled]="registerForm.pristine || registerForm.invalid" class="btn btn-primary" style="margin: 8px;">Send SMS</button>
                                                                    <button (click)="cancel_form()" type="button" class="btn btn-inverse">Cancel</button>
                                                                </div>
                                                                </div>
                                                            
                                                        
                                                    </div></form></mat-tab>
                                        <mat-tab label="Individual"> <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                                <div class="row" style="margin-top: 2%">
                                                        <div class="col-md-6 ">
                                                                <div class="form-group">
                                                                    <label>Insurance Type</label><span>*</span>
                                                                    <select (change)="onChangeoffice($event.target.value)" name="Reason" formControlName="Reason" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && f.Reason.errors }">
                                                                      <option *ngFor="let loca of location$" value="{{loca.locId}}">{{loca.name}}</option>
                                                                      
                                                                  </select> 
                                                                    <div *ngIf="submitted && f.Reason.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.Reason.errors.required">Reason is required</div>
                                                                    </div>
                                                                </div>
                                                                  </div>
                                                                <div class="col-md-6 ">
                                                                <div class="form-group">
                                                                    <label>Branch</label><span>*</span>
                                                                    <select (change)="onChangeadreess($event.target.value)" name="Reason" formControlName="Reason" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && f.Reason.errors }">
                                                                        <option *ngFor="let bran of branch$" value="{{bran.branId}}">{{bran.name}}</option>
                                                                  </select>
                                                                    <div *ngIf="submitted && f.Reason.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.Reason.errors.required">Reason is required</div>
                                                                    </div>
                                                                </div>
                                                                  </div>

                                                                  <div class="col-md-6 ">
                                                                        <div class="form-group">
                                                                            <label>Mobile Number</label><span>*</span>
                                                                            <input type="text" name="firstname"  class="form-control"  />
                
                                                                        </div>
                                                                   </div>

                                                                   <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Address : </label>
                                                                            <div *ngFor="let branadd of branchaddress$" >
                                                                            <input type="checkbox" ><p>{{branadd.name}}</p>
                                                                            </div>
                                                                        </div>
                                                                          </div>
                                                                  
                                                         
                                                               
                                                                <div class="col-md-6 "></div>
                                                                <div class="col-md-6 "></div>
                                                                <div class="col-md-6 ">
                                                                <div class="form-actions">
                                                                    <button [disabled]="registerForm.pristine || registerForm.invalid" class="btn btn-primary" style="margin: 8px;">Send SMS</button>
                                                                    <button (click)="cancel_form()" type="button" class="btn btn-inverse">Cancel</button>
                                                                </div>
                                                                </div>
                                                            
                                                        
                                                    </div></form> </mat-tab>
                                        <mat-tab label="Corporate"> Content 3 </mat-tab>
                                        <mat-tab label="Inbound"> Content 2 </mat-tab>
                                        <mat-tab label="Outbound"> Content 3 </mat-tab>
                                        <mat-tab label="Suggestions"> Content 2 </mat-tab>
                                        <mat-tab label="Complaints"> Content 3 </mat-tab>
                                      </mat-tab-group>

                                      <div class="card-content" (click)="msgclose()" *ngIf="msgview" >
                                          <div class="alert alert-primary alert-dismissible fade show">
                                              <button type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <strong>{{msg}}</strong> 
                                          </div>
                                  </div>
  
                                  </div>
                      </div>
                          </div>
  
                      </div>
                  </div>
              </div>
          </div>
  
