.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 14px;
}
.mat-tab-body-content {
  height: 100%;
}

.text-primary {
  color: #356957 !important;
}
