<app-header></app-header>
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">View Contacts</h5> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active">View Contacts</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <!-- Column -->
           
            <!-- Column -->
            <!-- Column -->
            <!--<ul>
                    <li *ngFor="let user of users$">
                      <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
                  
                      <ul>
                        <li>{{ user.email }}</li>
                        <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
                      </ul>
                    </li>
                  </ul>-->

            <div class="col-lg-12">
                

                    <div class="example-container mat-elevation-z8">
                        <div class="example-loading-shade"
                             *ngIf="isLoadingResults || isRateLimitReached">
                          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                          
                        </div>
                       
                        <div class="example-table-container">

                                <mat-form-field>
                                        <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                      </mat-form-field>
                      
                          <table mat-table [dataSource]="data" class="example-table"
                                 matSort matSortActive="created" matSortDisableClear matSortDirection="asc">  
                             <!-- Number Column -->
                             <ng-container matColumnDef="slno">
                                <th mat-header-cell *matHeaderCellDef>
                                   Sl No
                                  </th>
                              <td mat-cell *matCellDef="let row">{{row.slno}}</td>
                            </ng-container>   
                            <ng-container matColumnDef="destinationumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Destination Number
                                  </th>
                              <td mat-cell *matCellDef="let row">{{row.destinationumber}}</td>
                            </ng-container>
                      
                            <!-- Title Column -->
                            <ng-container matColumnDef="dialer">
                              <th mat-header-cell *matHeaderCellDef>Dialer</th>
                              <td mat-cell *matCellDef="let row">{{row.dialer}}</td>
                            </ng-container>
                      
                            <!-- State Column -->
                            <ng-container matColumnDef="startTime">
                              <th mat-header-cell *matHeaderCellDef>StartTime</th>
                              <td mat-cell *matCellDef="let row">{{row.startTime}}</td>
                            </ng-container>
                      
                            <!-- Created Column -->
                            <ng-container matColumnDef="StartDate">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                StartDate
                              </th>
                              <td mat-cell *matCellDef="let row">{{row.StartDate}}</td>
                            </ng-container>

                            <ng-container matColumnDef="StopTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    StopTime
                                </th>
                                <td mat-cell *matCellDef="let row">{{row.StopTime}}</td>
                              </ng-container>

                              <ng-container matColumnDef="StopDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    StopDate
                                </th>
                                <td mat-cell *matCellDef="let row">{{row.StopDate}}</td>
                              </ng-container>

                              <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Email
                                </th>
                                <td mat-cell *matCellDef="let row">{{row.email}}</td>
                              </ng-container>

                              <ng-container matColumnDef="Prio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Prio
                                </th>
                                <td mat-cell *matCellDef="let row">{{row.Prio}}</td>
                              </ng-container>

                              <ng-container matColumnDef="CallTag_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    CallTag Name
                                </th>
                                <td mat-cell *matCellDef="let row">{{row.CallTag_name}}</td>
                              </ng-container>

                              
                              <ng-container matColumnDef="CallTag_Trackid">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    CallTag Trackid
                                </th>
                                <td mat-cell *matCellDef="let row">{{row.CallTag_Trackid}}</td>
                              </ng-container>

                              <ng-container matColumnDef="Edit">
                                    <th mat-header-cell *matHeaderCellDef></th>

                                    <td mat-cell *matCellDef="let row"><a routerLink="/updatecontacts/{{row.userid}}"><mat-icon svgIcon="thumbs-up"></mat-icon></a></td>
                            </ng-container>
                      
                            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr> 
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                          </table>
                        </div>
                      
                        <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
                      </div>
                             

                       <!-- <div class="tab-pane" id="settings" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>latest status</th>
                                                    <th>company name</th>
                                                    <th></th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
    
                                                <tr *ngFor="let user of users$">
                                                    <td>{{ user.id }}</td>
                                                    <td>
                                                        {{ user.name }}
                                                    </td>
                                                    <td>{{ user.email }}</td>
                                                    <td><span>{{ user.phonenumber }}</span></td>
                                                    <td><span ><a style="color: #3dab42;font-weight: bold;"   routerLink="/details/{{user.id}}" >View</a></span></td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 
                            </div>-->
                   
</div>




