<!-- main app container -->

    
    <!-- credits -->
    
          

    <div class="page-wrapper" style="background-color: #fff;">
      <!-- Bread crumb -->
     
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
         
          <div class="row justify-content-center" style="background-color: #fff;">
              <div class="col-lg-4" style="margin-right: 20%;margin-top: 5%;">
                    <div style="text-align:center;margin-left:30%"><img src="assets/images/logo.png" style="width: 80%;"></div>
                  <div class="card" style="width: 450px;background-color: #fbfbfb;height: 80%;">
                      <div class="card-body">
                          <div class="form-validation">
                          <div class="card-body">
                            <form [formGroup]="Loginform" (ngSubmit)="onSubmit()">
                              <div class="form-body">
                                  <h5 class="box-title m-t-40">Login</h5>
                                  <hr>

                                  <div class="example-container">
                                    <mat-form-field>
                                      <input name="username"  formControlName="username" matInput placeholder="Username">
                                    </mat-form-field>
                                    <mat-form-field>
                                      <input name="password"  type="password"  formControlName="password" matInput placeholder="password">
                                    </mat-form-field>
                                  </div>    
                                  
                                  <div class="button-row">
                                    <button mat-raised-button color="primary">Login</button>
                                  </div>

                                
  
                                  </div>
                                  </form>
                      </div>
                          </div>
  
                      </div>
                  </div>
              </div>
          </div>
  
