<!-- main app container -->

    
    <!-- credits -->  
    <app-header></app-header> 
    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h5 class="text-primary">{{ticket}}</h5> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Update Outbound</li>
              </ol>
          </div>
      </div> 
      <!-- End Bread crumb --> 
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="form-validation"> 
                          <div class="card-body"> 
                          
                              <div class="form-body">
                                  <h5 class="box-title m-t-40">Update Outbound</h5>
                                  <hr>
                               
                                       
                                       
                                            <form [formGroup]="IndividualForm" style="overflow-x: hidden" (ngSubmit)="onSubmit_individual()">
                                                <div class="row" style="margin-top: 2%">

                                                    <div class="col-md-6 ">
                                                        <div class="form-group">
                                                            <label>Subclass</label>
                                                        <select  formControlName="Subclass" class="form-control custom-select" >
                                                                <option value="0">Please Choose One</option>
                                                            <option *ngFor="let insphase7 of insphase7$" value="{{insphase7.id}}">{{insphase7.name}}</option>
                                                        </select>
                                                              
                                                        </div>
                                                        </div>

                                                    <div class="col-md-6 ">
                                                        <div class="form-group">
                                                            <label>Outbound Effective Status</label>
                                                        <select  formControlName="effective_status" class="form-control custom-select" >
                                                                <option value="0">Please Choose One</option>
                                                            <option *ngFor="let insphase17 of insphase17$" value="{{insphase17.id}}">{{insphase17.name}}</option>
                                                        </select>
                                                              
                                                        </div>
                                                        </div>
                                                        

                                                                  <div class="col-md-6 ">
                                                                    <div class="form-group">
                                                                        <label>Outbound Instype</label>
                                                                    <select name="Instype" formControlName="Instype" class="form-control custom-select" >
                                                                            <option value="o">Please Choose One</option>
                                                                        <option *ngFor="let insphase9 of insphase9$" value="{{insphase9.id}}">{{insphase9.name}}</option>
                                                                    </select>
                                                                                                                                                           </div>
                                                                    </div> 
                                                                <div class="col-md-6 ">
                                                                <div class="form-group">
                                                                    <label>Outbound Classfication</label><span>*</span>
                                                                    <select  formControlName="Outbound_classfication" class="form-control custom-select" >
                                                                            <option value="0">Please Choose One</option>
                                                                        <option *ngFor="let insphase2 of insphase2$" value="{{insphase2.id}}">{{insphase2.name}}</option>
                                                                  </select>
                                                                                                                                    </div>
                                                                  </div>

                                                                  <div class="col-md-6 ">
                                                                    <div class="form-group">
                                                                        <label>Outbound Coverquery</label><span>*</span>
                                                                        <select formControlName="outboundcoverquery" class="form-control custom-select" >
                                                                                <option value="0">Please Choose One</option>
                                                                            <option *ngFor="let insphase3 of insphase3$" value="{{insphase3.id}}">{{insphase3.name}}</option>
                                                                      </select>
                                                                        
                                                                    </div>
                                                                      </div>

                                                                      <div class="col-md-6 ">
                                                                        <div class="form-group">
                                                                            <label>Outbound covertype</label><span>*</span>
                                                                            <select formControlName="outboundcovertype" class="form-control custom-select" >
                                                                                    <option value="0">Please Choose One</option>
                                                                                <option *ngFor="let insphase4 of insphase4$" value="{{insphase4.id}}">{{insphase4.name}}</option>
                                                                          </select>
                                                                           
                                                                        </div>
                                                                          </div>

                                                                          

                                                             <div class="col-md-6 ">
                                                                <div class="form-group">
                                                                    <label>Outbound Directedto</label><span>*</span>
                                                                <select   formControlName="outbounddirectedto" class="form-control custom-select" >
                                                                        <option value="0">Please Choose One</option>
                                                                    <option *ngFor="let insphase5 of insphase5$" value="{{insphase5.id}}">{{insphase5.name}}</option>
                                                                </select>
                                                                       
                                                                </div>
                                                                </div>
                                                                    

                                                                <div class="col-md-6 ">
                                                                    <div class="form-group">
                                                                        <label>outbound effective reason</label>
                                                                    <select name="effective_reason" formControlName="effective_reason" class="form-control custom-select" >
                                                                            <option value="0">Please Choose One</option>
                                                                        <option *ngFor="let insphase6 of insphase6$" value="{{insphase6.id}}">{{insphase6.name}}</option>
                                                                    </select>
                                                                          
                                                                    </div>
                                                                    </div>                                                                  

                                                                        <div class="col-md-6 ">
                                                                            <div class="form-group">
                                                                                <label>Outbound endreason</label>
                                                                            <select  name="endreason" formControlName="endreason" class="form-control custom-select" >
                                                                                    <option value="0">Please Choose One</option>
                                                                                <option *ngFor="let insphase8 of insphase8$" value="{{insphase8.id}}">{{insphase8.name}}</option>
                                                                            </select>
                                                                                                                                                               </div>
                                                                            </div> 

                                                                            <div class="col-md-6 ">
                                                                                <div class="form-group">
                                                                                    <label>Outbound Action</label><span>*</span>
                                                                                    
                                                                                    <select formControlName="Outboundaction" class="form-control custom-select" >
                                                                                            <option value="0">Please Choose One</option>
                                                                                        <option *ngFor="let type of Action$" value="{{type.id}}">{{type.name}}</option>
                                                                                      
                                                                                  </select> 
                                                                                   </div>
                                                                                  </div>

                                                                                  <div class="col-md-6 ">
                                                                                    <div class="form-group">
                                                                                        <label>Customername</label><span>*</span>
                                                                                        
                                                                               <input type="text"  formControlName="customernamenew" class="form-control" >
                                                                                       </div>
                                                                                      </div>

                                                                                      <div class="col-md-6 ">
                                                                                        <div class="form-group">
                                                                                            <label>policyyear</label><span>*</span>
                                                                                            
                                                                                   <input type="text"  formControlName="policyyear" class="form-control" >
                                                                                           </div>
                                                                                          </div>


                                                                                          <div class="col-md-6 ">
                                                                                            <div class="form-group">
                                                                                                <label>policynumber</label><span>*</span>
                                                                                                
                                                                                       <input type="text"  formControlName="policynumber" class="form-control" >
                                                                                               </div>
                                                                                              </div>

                                                                                              <div class="col-md-6 ">
                                                                                                <div class="form-group">
                                                                                                    <label>Mobileno</label><span>*</span>
                                                                                                    
                                                                                           <input type="text"  formControlName="mobileno" class="form-control" >
                                                                                                   </div>
                                                                                                  </div>
                                                                                                  <div class="col-md-6 ">
                                                                                                    <div class="form-group">
                                                                                                        <label>callduration</label><span>*</span>
                                                                                                        
                                                                                               <input type="text"  formControlName="callduration" class="form-control" >
                                                                                                       </div>
                                                                                                      </div>

                                                                                                      <div class="col-md-6 ">
                                                                                                        <div class="form-group">
                                                                                                            <label>Calldate</label><span>*</span>
                                                                                                            
                                                                                                   <input type="date" value="" formControlName="calldates" class="form-control" >
                                                                                                           </div>
                                                                                                          </div>

                                                                                                          <div class="col-md-6 ">
                                                                                                            <div class="form-group">
                                                                                                                <label>noofcall</label><span>*</span>
                                                                                                                
                                                                                                       <input type="text"  formControlName="noofcall" class="form-control" >
                                                                                                               </div>
                                                                                                              </div>

                                                                                                              <div class="col-md-6 ">
                                                                                                                <div class="form-group">
                                                                                                                    <label>followupdate</label><span>*</span>
                                                                                                                    
                                                                                                           <input type="date" formControlName="followupdate" class="form-control" >
                                                                                                                   </div>
                                                                                                                  </div>
                                                                                   
                                                                               

                                                                  

                                                                <div class="col-md-6 "></div>
                                                                <div class="col-md-6 "></div>
                                                                
                                                                <div class="col-md-6 "  >
                                                                    <div class="form-actions">
                                                                        <button [disabled]="IndividualForm.pristine || IndividualForm.invalid" class="btn btn-primary" style="margin: 8px;">Update</button>
                                                                        <button (click)="cancel_form()" type="button" class="btn btn-inverse">Cancel</button>
                                                                    </div>
                                                                    </div> 
                                                         
                                                    </div>
                                                    
                                                </form> 
                                        
                                        
                                       
                                     

                                      <div class="card-content" (click)="msgclose()" *ngIf="msgview" >
                                          <div class="alert alert-primary alert-dismissible fade show">
                                              <button type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <strong>{{msg}}</strong> 
                                          </div>
                                  </div>
  
                                  </div>
                      </div>
                          </div>
  
                      </div>
                  </div>
              </div>
          </div>
  
