<app-header></app-header>
<div class="page-wrapper">
  <!-- Bread crumb -->
  <div class="row page-titles">

     
        <div class="col-md-5 align-self-center">
                <h5 class="text-primary">Ticket ID - {{taskid}} <span class="badge {{user$.btnstyle}}">{{user$.ticketstatus}}</span></h5> </div>
            <div class="col-md-7 align-self-center">
                    <div class="button-row breadcrumb" >
                           
                            <button class="breadcrumb-item" mat-raised-button color="accent">Edit</button>
                            <div class="divider"></div>
                            <button class="breadcrumb-item" mat-raised-button color="warn">Cancel</button>
                            
                          </div>
            </div>




      <!--<div class="col-md-5 align-self-center">
  <h5 class="text-primary">Service id #{{taskid}}</h5> </div>-->
      <!--<div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Dashboard</a></li>
              <li class="breadcrumb-item active">#{{taskid}}</li>
          </ol>
      </div>-->
  </div>
  <!-- End Bread crumb -->
  <!-- Container fluid  -->
  <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="row">
          <!-- Column -->
         
          <!-- Column -->
          <!-- Column -->
          <!--<ul>
                  <li *ngFor="let user of users$">
                    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
                
                    <ul>
                      <li>{{ user.email }}</li>
                      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
                    </ul>
                  </li>
                </ul>-->

          <div class="col-lg-12">
              <div class="card">

                  <mat-tab-group dynamicHeight *ngIf="user$">
                      <mat-tab label="Services Details">
                        <div class="example-small-box mat-elevation-z4">
                                

                                <mat-card>
                                        <mat-grid-list cols="2" rowHeight="350px" > 
                                                
                                <mat-grid-tile  style="border: 1px solid #d8d1d1 !important;border-radius: 5px !important;">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                               
                                                <tbody>
                                                     
                                                    <tr>
                                                        </tr><tr>
                                                            <td><b>Assign to</b></td>
                                                            <td>{{user$.assign}}</td>
                                                            
                                                        </tr>
                                                    
                                                    <tr>
                                                        </tr><tr>
                                                            <td><b>Department</b></td>
                                                            <td>{{user$.department}}</td>
                                                            
                                                        </tr>

                                                        <tr>
                                                            </tr><tr>
                                                                <td><b>Status</b></td>
                                                                <td><span class="badge {{user$.btnstyle}}">{{user$.ticketstatus}}</span></td>
                                                                
                                                            </tr>
                                                    
                                                    
                                                    
                                                    <tr>
                                                        <td><b>Customer Name</b></td>
                                                        <td>{{user$.Name}}</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><b>Phonenumber</b></td>
                                                        <td>{{user$.phonenumber}}</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><b>Reason For Call</b></td>
                                                        <td>{{user$.reason}}</td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                       
                                    </div></mat-grid-tile>

                                <mat-grid-tile style="border: 1px solid #d8d1d1 !important;border-radius: 5px !important;">
                                        <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                       
                                                        <tbody>
                                                            
                                                            <tr>
                                                                <td><b>Create Date</b></td>
                                                                <td>{{user$.createDate}}</td>
                                                                
                                                            </tr>

                                                            <tr>
                                                                <td><b>Due Date</b></td>
                                                                <td>{{user$.duedate}}</td>
                                                                
                                                            </tr>
                                                            
                                                           

                                                                <tr>
                                                                    </tr><tr>
                                                                        <td><b>Policy Number</b></td>
                                                                        <td>{{user$.policynumber}}</td>
                                                                        
                                                                    </tr>
                                                            
                                                            <tr>
                                                                </tr><tr>
                                                                    <td><b>Priority</b></td>
                                                                    <td>{{user$.Priority}}</td>
                                                                    
                                                                </tr>
                                                            
                                                            <tr>
                                                                <td><b>Received</b></td>
                                                                <td>{{user$.Received}}</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><b>Subject</b></td>
                                                                <td>{{user$.subject}}</td>
                                                                
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                               
                                            </div>
                                    
                                    
                                    </mat-grid-tile> 
                                        <!--<mat-list>
                                                
                                            <mat-divider></mat-divider>
                                            
                                          </mat-list>-->
                                        </mat-grid-list>

                                        <mat-grid-list cols="1" rowHeight="100px" > 
                                                <mat-grid-tile style="border: 1px solid #d8d1d1 !important;border-radius: 5px !important;"> <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                               
                                                                <tbody>
                                                                    
                                                                    <tr>
                                                                        </tr><tr>
                                                                            <td style="width: 12%;"> <b>Description :</b></td>
                                                                            <td style="text-align: left;"> {{user$.Description}}</td>
                                                                            
                                                                        </tr>
                                                                    
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                       
                                                    </div></mat-grid-tile>
                                        </mat-grid-list>


                                </mat-card>
                        </div>
                      </mat-tab>
                      <mat-tab label="Add Comment">
                        <div class="example-large-box mat-elevation-z4">
                            <form  [formGroup]="Commentform" (ngSubmit)="onSubmit()"  class="example-form" style="margin-bottom: 80px;">
                                <mat-form-field class="example-full-width">
                                  <textarea name="comment"  formControlName="comment"    matInput placeholder="Leave a comment"></textarea>
                                </mat-form-field>
                                <button mat-raised-button color="primary">Add</button>
                              </form>

                              <h4 class="box-title m-t-40">Previous Comments</h4>
                                        <hr>
                              <mat-card class="example-card">
                                  <mat-card-header *ngFor="let com of comment$">
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title>{{com.name}}</mat-card-title>
                                    <mat-card-subtitle>{{com.comments}}</mat-card-subtitle>
                                    
                                  </mat-card-header>
                                </mat-card>
                        </div>
                      </mat-tab>
                      <mat-tab label="Audit">
                            <div class="example-large-box mat-elevation-z4">
                                   
                                          <mat-vertical-stepper [linear]="isLinear" #stepper>
                                            <mat-step >                                      
                                                <ng-template matStepLabel>Created on 08-08-2018</ng-template>
                                                <span class="stepperspan">Administrator created request to Sales department</span>
                                            </mat-step>
                                            <mat-step >
                                                <ng-template matStepLabel>Changed in 09-08-2018 </ng-template>
                                                <span class="stepperspan"> Ram accepted the request</span>

                                            </mat-step>
                                            <mat-step >
                                                    <ng-template matStepLabel>Changed in 12-08-2018</ng-template>
                                                    <span class="stepperspan">Ram chaged the status </span>
    
                                                </mat-step>
                                            <mat-step>
                                              <ng-template matStepLabel>Done</ng-template>
                                              <span class="stepperspan">Ticket closed by ram on 12-08-2018</span> 
                                              
                                            </mat-step>
                                          </mat-vertical-stepper>
                                          
                            </div>
                          </mat-tab>

                    </mat-tab-group>

              
              </div>
          </div>





