<app-header></app-header>
<div class="page-wrapper">
  <!-- Bread crumb -->
  <div class="row page-titles" *ngIf="user$">

      
        <div class="col-md-5 align-self-center">
                <h5 class="text-primary">Ticket ID - {{taskid}} <span class="badge {{user$.btnstyle}}">{{user$.ticketstatus}}</span></h5><span style="font-size: 14px;">Created In - {{user$.createDate}}</span> </div>
            <div class="col-md-7 align-self-center">
                    <div class="button-row breadcrumb" >
                           
                            <a mat-raised-button color="accent" routerLink="/editservice/{{taskid}}">Edit</a>
                            
                            <div class="divider"></div>
                            <button class="breadcrumb-item" mat-raised-button color="warn">Cancel</button>
                            
                          </div>
            </div>




      <!--<div class="col-md-5 align-self-center">
  <h5 class="text-primary">Service id #{{taskid}}</h5> </div>-->
      <!--<div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Dashboard</a></li>
              <li class="breadcrumb-item active">#{{taskid}}</li>
          </ol>
      </div>-->
  </div>
  <!-- End Bread crumb -->
  <!-- Container fluid  -->
  <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="row">
          <!-- Column --> 
         
          <!-- Column -->
          <!-- Column -->
          <!--<ul>
                  <li *ngFor="let user of users$">
                    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
                
                    <ul>
                      <li>{{ user.email }}</li>
                      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
                    </ul>
                  </li>
                </ul>-->

          <div class="col-lg-12">
              <div class="card" *ngIf="user$">

                  <mat-tab-group dynamicHeight>
                      <mat-tab label="Services Details">
                        <div class="example-small-box mat-elevation-z4">
                                

                                <mat-card>
                                        <mat-grid-list cols="2" > 
                                                
                                <mat-grid-tile *ngIf="user$.type =='corporate'">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                               
                                                <tbody>
                                                     
                                                    <tr>
                                                        </tr><tr>
                                                            <td><b>Type</b></td>
                                                            <td>{{user$.type}}</td>
                                                            
                                                        </tr>
                                                    
                                                    <tr>
                                                        </tr><tr>
                                                            <td><b>corporate type</b></td>
                                                            <td>{{user$.csp_corporate_type}}</td>
                                                            
                                                        </tr>
                                                    
                                                    <tr>
                                                        <td><b>phase1 </b></td>
                                                        <td>{{user$.csp_corporate_phase1}}</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><b>phase2</b></td>
                                                        <td>{{user$.csp_corporate_phase2}}</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><b>phase3</b></td>
                                                        <td>{{user$.csp_corporate_phase3}}</td>
                                                        
                                                    </tr>

                                                       <tr>
                                                        </tr><tr>
                                                            <td><b>phase4</b></td>
                                                            <td>{{user$.csp_corporate_phase4}}</td>
                                                            
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                       
                                    </div></mat-grid-tile>

                                <mat-grid-tile *ngIf="user$.type =='corporate'" >
                                        <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                       
                                                        <tbody>
                                                            
                                                            <tr>
                                                                <td><b>Assigned Department</b></td>
                                                                <td>{{user$.csp_office_department}}</td>
                                                                
                                                            </tr>

                                                            <tr>
                                                                </tr><tr>
                                                                    <td><b>Assigned Person</b></td>
                                                                    <td>{{user$.csp_department_user}}</td>
                                                                    
                                                            </tr>

                                                            <tr>
                                                                <td><b>Phone Number</b></td>
                                                                <td>{{user$.phonenumber}}</td>
                                                                
                                                            </tr>
                                                            
                                                            <tr>
                                                                </tr><tr>
                                                                    <td><b>Remarks</b></td>
                                                                    <td>{{user$.remarks}}</td>
                                                                    
                                                                </tr>
                                                            
                                                            <!-- <tr>
                                                                <td><b>Received</b></td>
                                                                <td>{{user$.Received}}</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><b>Subject</b></td>
                                                                <td>{{user$.subject}}</td>
                                                                
                                                            </tr> -->
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                               
                                            </div>
                                    
                                    
                                    </mat-grid-tile> 



                                <mat-grid-tile *ngIf="user$.type =='Individual'">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                       
                                                        <tbody>
                                                             
                                                            <tr>
                                                                </tr><tr>
                                                                    <td><b>Type</b></td>
                                                                    <td>{{user$.type}}</td>
                                                                    
                                                                </tr>
                                                            
                                                            <tr>
                                                                </tr><tr>
                                                                    <td><b>phase1</b></td>
                                                                    <td>{{user$.csp_insurance_type_val}}</td>
                                                                    
                                                                </tr>
                                                            
                                                            <tr>
                                                                <td><b>phase2 </b></td>
                                                                <td>{{user$.csp_insurance_phase2_val}}</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><b>phase3</b></td>
                                                                <td>{{user$.csp_insurance_phase3_val}}</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><b>phase4</b></td>
                                                                <td>{{user$.phase_category1}}</td>
                                                                
                                                            </tr>
        
                                                               <tr>
                                                                </tr><tr>
                                                                    <td><b>phase5</b></td>
                                                                    <td>{{user$.phase_category2}}</td>
                                                                    
                                                                </tr>

                                                                <tr>
                                                                    </tr><tr>
                                                                        <td><b>Phonenumber</b></td>
                                                                        <td>{{user$.phonenumber}}</td>
                                                                        
                                                                    </tr>

                                                               
                                                        </tbody>
                                                    </table>
                                                </div>
                                               
                                            </div></mat-grid-tile>
        
                                        <mat-grid-tile *ngIf="user$.type =='Individual'" >
                                                <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                               
                                                                <tbody>
                                                                    
                                                                    <tr>
                                                                        <td><b>phase1</b></td>
                                                                        <td>{{user$.phase_category3}}</td>
                                                                        
                                                                    </tr>
        
                                                                    <tr>
                                                                        </tr><tr>
                                                                            <td><b>phase2</b></td>
                                                                            <td>{{user$.phase_category4}}</td>
                                                                            
                                                                    </tr>
        
                                                                    <tr>
                                                                        <td><b>phase3</b></td>
                                                                        <td>{{user$.phase_category5}}</td>
                                                                        
                                                                    </tr>

                                                                    <tr>
                                                                            <td><b>phase4</b></td>
                                                                            <td>{{user$.phase_category6}}</td>
                                                                            
                                                                        </tr>
                                                                    
                                                                    <tr>
                                                                        </tr><tr>
                                                                            <td><b>Assigned department</b></td>
                                                                            <td>{{user$.csp_office_department}}</td>
                                                                            
                                                                        </tr>
                                                                    
                                                                   <tr>
                                                                        <td><b>Assigned user</b></td>
                                                                        <td>{{user$.csp_department_user}}</td>
                                                                        
                                                                    </tr>

                                                                    <tr>
                                                                            <td><b>remarks</b></td>
                                                                            <td>{{user$.remarks}}</td>
                                                                            
                                                                        </tr>
                                                                    
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                       
                                                    </div>
                                            
                                            
                                            </mat-grid-tile> 

                                            <mat-grid-tile *ngIf="user$.type =='inbound'" >
                                                    <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                   
                                                                    <tbody>
                                                                            
                                                                        <tr>
                                                                                    <td><b>Category Type</b></td>
                                                                                    <td>inbound</td>
                                                                                    
                                                                        </tr>

                                                                        
                                                                        <tr>
                                                                            <td><b>Category 1</b></td>
                                                                            <td>{{user$.csp_inbound_phase1_val}}</td>
                                                                            
                                                                        </tr>
            
                                                                        <tr>
                                                                            </tr><tr>
                                                                                <td><b>Category 2</b></td>
                                                                                <td>{{user$.csp_inbound_phase2_val}}</td>
                                                                                
                                                                        </tr>
            
                                                                        <tr>
                                                                            <td><b>Category 3</b></td>
                                                                            <td>{{user$.csp_inbound_phase3_val}}</td>
                                                                            
                                                                        </tr>
    
                                                                        <tr>
                                                                                <td><b>Category 4</b></td>
                                                                                <td>{{user$.csp_inbound_phase4_val}}</td>
                                                                                
                                                                            </tr>
                                                                        
                                                                        <tr>
                                                                            </tr><tr>
                                                                                <td><b>Assigned department</b></td>
                                                                                <td>{{user$.csp_office_department}}</td>
                                                                                
                                                                            </tr>
                                                                        
                                                                       <tr>
                                                                            <td><b>Assigned user</b></td>
                                                                            <td>{{user$.csp_department_user}}</td>
                                                                            
                                                                        </tr>
    
                                                                        <tr>
                                                                                <td><b>remarks</b></td>
                                                                                <td>{{user$.remarks}}</td>
                                                                                
                                                                            </tr>
                                                                        
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                           
                                                        </div>
                                                
                                                
                                                </mat-grid-tile> 

                                        <!--<mat-list>
                                                
                                            <mat-divider></mat-divider>
                                            
                                          </mat-list>-->
                                        </mat-grid-list>

                                        <!-- <mat-grid-list cols="1" rowHeight="100px" > 
                                                <mat-grid-tile > <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                               
                                                                <tbody>
                                                                    
                                                                    <tr>
                                                                        </tr><tr>
                                                                            <td style="width: 12%;"> <b>Description :</b></td>
                                                                            <td style="text-align: left;"> {{user$.Description}}</td>
                                                                            
                                                                        </tr>
                                                                    
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                       
                                                    </div></mat-grid-tile>
                                        </mat-grid-list> -->


                                </mat-card>
                        </div>
                      </mat-tab>
                      <mat-tab label="Add Comment">
                        <div class="example-large-box mat-elevation-z4">
                            <form  [formGroup]="Commentform" (ngSubmit)="onSubmit()"  class="example-form" style="margin-bottom: 80px;">
                                <mat-form-field class="example-full-width">
                                  <textarea name="comment"  formControlName="comment"    matInput placeholder="Leave a comment"></textarea>
                                </mat-form-field>
                                <button mat-raised-button color="primary">Add</button>
                              </form>

                              <h4 class="box-title m-t-40">Previous Comments</h4>
                                        <hr>
                              <mat-card class="example-card">
                                  <mat-card-header *ngFor="let com of comment$">
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title>{{com.name}}</mat-card-title>
                                    <mat-card-subtitle>{{com.comments}}</mat-card-subtitle>
                                    
                                  </mat-card-header>
                                </mat-card>
                        </div>
                      </mat-tab>
                      <mat-tab label="Audit">
                            <div class="example-large-box mat-elevation-z4">
                                   
                                          <mat-vertical-stepper [linear]="isLinear" #stepper>
                                            <mat-step *ngFor="let aud of auidt$" >                                      
                                                <ng-template matStepLabel>{{aud.heading}} {{aud.time}}</ng-template>
                                                <span class="stepperspan">{{aud.message}}</span>
                                            </mat-step>
                                          </mat-vertical-stepper>
                                          
                            </div>
                          </mat-tab>

                    </mat-tab-group>

              
              </div>
          </div>
          </div>
          </div>





