<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Add Contact</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Services</a></li>
                <li class="breadcrumb-item active">Add Contact</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="card-body">
                        <form action="#">
                            <div class="form-body">
        
                                <h3 class="box-title m-t-40">Add Contact</h3>
                                <hr>

                                <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SelectCampaign</label>
                                            <select class="form-control custom-select">
                                                <option>Select Campaingn</option>
                                                <option>After Claim Service</option>
                                                <option>Abandoned Calls Callback</option>
                                                <option>Policies Renewal</option>
                                                <option>Customer Satisfication</option>
                                                <option>Product Selling</option>
                                            </select>
                                        </div>

                                        
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>SelectCampaign mode</label>
                                            <select class="form-control custom-select">
                                                <option>Select Campaingn Mode</option>
                                                <option>SMS</option>
                                                <option>Email</option>
                                                <option>Voice</option>
                                            </select>
                                        </div>

                                        
                                        
                                    </div>
                                    
                                    
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">DOB </label>
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
</div>

                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-danger">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" id="lastName" class="form-control form-control-danger" placeholder="">
                                             </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>	Nationality</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>	Mob No</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fax No</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <!--/span-->
                                   
                                    <!--/span-->
                                  

                            </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label>Upload file</label>
                                            <input style="background-color: #d8d8d8;border: 1px solid #e6e6e6;" type="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                   
                                
                                
                                
                            <div class="form-actions">
                                <button type="button" (click)="createContact()" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                <button type="button" class="btn btn-inverse">Cancel</button>
                            </div>
                        </form>
                    </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
