<app-header></app-header>
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">Customer Details</h5> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active">DashCustomer Details</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <!-- Column -->
           
            <!-- Column -->
            <!-- Column -->
            <!--<ul>
                    <li *ngFor="let user of users$">
                      <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
                  
                      <ul>
                        <li>{{ user.email }}</li>
                        <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
                      </ul>
                    </li>
                  </ul>-->

            <div class="col-lg-12">
                <div class="card">

                 <mat-table [dataSource] = "dataSource">

                <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let User">{{User.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                        <mat-cell *matCellDef="let User">{{User.username}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                                <mat-cell *matCellDef="let User">{{User.email}}</mat-cell>
                                </ng-container>
               
                                <mat-header-row *matHeaderRowDef="displayedColums" color="primary"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColums;"></mat-row>

                 </mat-table>
                              </div>

                       <!-- <div class="tab-pane" id="settings" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>latest status</th>
                                                    <th>company name</th>
                                                    <th></th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
    
                                                <tr *ngFor="let user of users$">
                                                    <td>{{ user.id }}</td>
                                                    <td>
                                                        {{ user.name }}
                                                    </td>
                                                    <td>{{ user.email }}</td>
                                                    <td><span>{{ user.phonenumber }}</span></td>
                                                    <td><span ><a style="color: #3dab42;font-weight: bold;"   routerLink="/details/{{user.id}}" >View</a></span></td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 
                            </div>-->
                   
</div>